<!DOCTYPE html>
<html lang="zh">
<link rel="stylesheet" href="/static/css/mdl/material.min.css">
<script src="/static/css/mdl/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<head>
    <meta charset="UTF-8">
    <title>hello python</title>
</head>
<body>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
onclick="javascript:window.location.href = '/shiye/'">事业单位招聘查询</button></br>
<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
    <i class="material-icons">add</i>
</button>
<a href='/time'>time</a>
</body>
</html>